# ------------------------------------------------------------------------------
# Onset Engine 
# https://github.com/dylanafterall/OnsetEngine
# ------------------------------------------------------------------------------


# C++ --------------------------------------------------------------------------
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app


# CMake ------------------------------------------------------------------------
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# Project-specific -------------------------------------------------------------
*.DS_Store
.cache/
.vscode/
compile_commands.json
external/box2d/
external/entt/
external/glm/
external/googletest/
external/sol2/
external/spdlog/
external/stb/stb/
external/lua/lua/lua-5.4.4/
external/lua/lua/lua-5.4.4.tar.gz
external/glad/Makefile
external/lua/Makefile
external/stb/Makefile
build/
tools/formatter/external/glm/
tools/formatter/formatter